html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
  list-style: none;
}
html {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(-230deg, #0068A1, #DB0700);
}
body {
  line-height: 1;
  min-height: 100%;
}

#screen {
  z-index: -1;
  width: 85vw;
  height: 40em;
  max-height: 60vw;
  margin: 55px auto;
  border: 5px solid #111;
  border-radius: 25px;
  background: linear-gradient(#DDD, #888);
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .circles {
  position: absolute;
  background-color: transparent;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 5px solid gray;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  animation: rotateAround 2s infinite linear;
  margin-bottom: 1px;
}

@keyframes rotateAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#canvas {
  width: 85%;
  height: 85%;
}